html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assets/windowsXP.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.msn {
  width: 500px;
  height: 500px;
  position: relative;
}

.list {
  display: flex;
  font-size: 1.3rem;
}

.list li {
  padding: 0 8px;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list li:hover {
  background: rgb(231, 231, 231);
  background: linear-gradient(
    50deg,
    rgba(231, 231, 231, 1) 0%,
    rgba(178, 189, 219, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  border: 0.5px solid navy;
}

.emoji {
  font-size: 2rem;
  margin-right: 5px;
}

.msnToolbar {
  align-items: center;
  height: 30px;
  padding-left: 30px;
  background: rgb(231, 231, 231);
  background: linear-gradient(
    0deg,
    rgba(231, 231, 231, 1) 0%,
    rgba(178, 189, 219, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.msnToolbar li:first-letter,
button:first-letter {
  text-decoration: underline;
}

.msnChatter {
  padding: 10px;
  background: rgb(231, 231, 231);
  background: linear-gradient(
    41deg,
    rgba(231, 231, 231, 1) 0%,
    rgba(129, 154, 195, 1) 50%,
    rgba(209, 205, 205, 1) 100%
  );
}

.messages {
  height: 200px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.friendsEmail,
.friendsMessage,
.friendsName,
textarea,
button {
  font-size: 1.3rem;
}

.friendsEmail {
  background: #edf0ff;
  color: navy;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.friendsName,
.friendsMessage,
textarea,
button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  display: inline-block;
}

.friendsName {
  color: red;
  padding-left: 10px;
}

.friendsMessage {
  padding-left: 30px;
  color: grey;
}

.myMessageBox {
  margin-top: 10px;
  border: 1px solid grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #ffffff;
  height: 100px;
}

.iconToolbar {
  border-bottom: 1px solid grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgb(231, 231, 231);
  background: linear-gradient(
    0deg,
    rgba(231, 231, 231, 1) 0%,
    rgba(178, 189, 219, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.iconToolbar li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myMessage {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.myMessage textarea {
  border: 0;
  border-radius: 10px;
  height: 65px;
  width: 90%;
  position: relative;
  word-wrap: break-word;
  padding-left: 10px;
  padding-top: 10px;
  resize: none;
}

button {
  padding: 10px;
  margin-right: 10px;
  color: #b5bfdb;
  font-weight: bold;
  cursor: not-allowed;
}

#popup {
  visibility: hidden;
  position: absolute;
  top: 30%;

  left: 30%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  width: 200px;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 3px;
  color: navy;
  background: rgb(231, 231, 231);
  background: linear-gradient(
    0deg,
    rgba(231, 231, 231, 1) 0%,
    rgba(178, 189, 219, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.popupHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  font-size: 1.2rem;
}

.popupHeader img {
  height: 15px;
  width: 15px;
  margin: 0 5px;
}

.popupMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
  border-radius: 3px;
  height: 100%;
  background: rgb(231, 231, 231);
  background: linear-gradient(
    0deg,
    rgba(231, 231, 231, 1) 0%,
    rgba(178, 189, 219, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.meanBot {
  font-size: 1.6rem;
  margin-top: 20px;
}

#meanMessages {
  font-size: 1.3rem;
  text-align: center;
}

.popupFooter {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.popupFooter img {
  height: 15px;
  width: 40px;
}
